h1, h3, h2 {
  font-family: 'Gravitas One', cursive;
}
h1, h3{
  text-align: center;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 2em;
}
#introPage h1, #introPage h3 {
  text-align: right;
}
